# ======================
# FRONTEND (Vue / Node)
# ======================
node_modules/
dist/
.env
.env.local

# ======================
# BACKEND (Spring Boot)
# ======================
target/
*.log
*.class

# ======================
# IDEs
# ======================
.idea/
.vscode/
*.iml

# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# Docker (opcional)
# ======================
.env

# Env files
.env
.env.*
